extends layout

block content
    h1 Página No Encontrada
    img.img-responsive(src='../images/Ralph.png' alt='ralph' heigth='200px')
    p La página a la que se intenta acceder no existe. Seleccione otra de la barra de navegación.